body {
    background: #ecf0f1;
    color: #4c4c4c;
    font-family: 'Open Sans', sans-serif;
}
.hero {
    width: 80%;
    margin: 75px auto;
}
.container {
    width: 80%;
    margin: 50px auto;
}
h1 {
    font-size: 4em;
}
.hero_text {
    width: 80%;
    line-height: 1.5;
    color: #737373;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.left, .right {
    width: 50%;
    float: left;
}

@media (max-width:1300px) {
    .left, .right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .left .hero_text {
        margin: 10px auto 30px auto;
    }
    .left .codeblock {
        margin: 10px auto;
    }
    .right {
        margin-top: 100px;
    }
}

.btn-group {
    margin: 15px 0;
}
.btn {
    text-decoration: none;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    width: 125px;
    height: 40px;
    border: 1px solid #222;
    color: #222;
    border-radius: 5px;
}
.btn:hover {
    color: #eee;
    background: #222;
}
.codeblock {
    margin: 10px 0;
    background: #222;
    padding: 15px 10px;
    border-radius: 5px;
    color: #eee;
    width: 350px;
}
.codeblock2 {
    margin: 10px 0;
    background: #222;
    padding: 15px 20px;
    border-radius: 5px;
    color: #eee;
    width: 100%;
    max-width: 800px;
}
code {
    display: block;
}
.clear {
    clear: both;
}
.halfwidth .editors {
    width: 49.8% !important;
}

.features {
    margin: 75px 0;
    text-align: center;
}
.features h2 {
    font-size: 38px;
}
.featurerow {
    margin: 20px 0;
}
.feature {
    float: left;
    width: 32%;
    text-align: center;
}
