body {
    background: #ecf0f1;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
}
.hero {
    width: 80%;
    margin: 75px auto;
}
h1 {
    font-size: 4em;
}
.left, .right {
    width: 50%;
}
