* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.container {
    height: 100%;
    width: 100%;
}
.half {
    width: 50%;
    height: 100%;
    float: left;
}
.clear {
    clear: both;
}
.editor {
    height: 33%;
    width: 100%;
}
.editor .lang {
    background: black;
    color: white;
    height: 20%;
}
.editor .lang h2 {
    margin: 0;
    margin-left: 10px;
    padding: 10px 0
}
.editor .code {
    height: 80%;
}
.editor textarea {
    width:100%;
    height:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.output iframe {
    width: 100%;
    height: 100%;
    border: none;
}
