* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.container {
    height: 100%;
    width: 100%;
}
.half {
    width: 500px;
    height: 400px;
    float: left;
}
.clear {
    clear: both;
}
.editor {
    height: 125px;
    width: 100%;
}
.editor .lang {
    background: black;
    color: white;
}
.editor .lang h2 {
    margin: 0;
    margin-left: 10px;
    padding: 10px 0
}
.editor .code {
    height: 80%;
}
.editor textarea {
    width:100%;
    height:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    resize: none;
    padding: 10px;
}
.editor textarea:focus {
    outline: none;
}
.output iframe {
    width: 100%;
    height: 100%;
    border: none;
}
